<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="cdf12964-ca71-450c-8735-7ac107e148e6" Version="1.0.0.0" Publisher="CN=Fabio" />
  <Properties>
    <DisplayName>Hello World</DisplayName>
    <PublisherDisplayName>Fábio Ferreira</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Hello World" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Hello World" ForegroundText="light" BackgroundColor="#2672EC">
        <DefaultTile ShowName="allLogos" ShortName="Hello World" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#2672EC" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>